@model BonificacionFinal.Curso

@{
    ViewBag.Title = "Detalles del Curso";
}

<h2>Detalles del Curso</h2>

<dl class="dl-horizontal">
    <dt>Código del Curso</dt>
    <dd>@Model.CodigoCurso</dd>

    <dt>Nombre del Curso</dt>
    <dd>@Model.NombreCurso</dd>

    <dt>Valor del Curso</dt>
    <dd>@Model.ValorCurso</dd>
</dl>

<p>
    @Html.ActionLink("Volver a Buscar", "Buscar", "Funcionalidades", null, new { @class = "btn btn-primary" })
</p>
